* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl; }

.container {
  display: inline-block; }

.nav {
  background-image: -webkit-linear-gradient(#4481ff, #2539bc);
  height: 70px;
  width: 100%;
  position: absolute;
  z-index: 5; }

.nav_item {
  margin: auto;
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'B Yekan', sans-serif;
  font-size: 120%;
  display: inline-block;
  height: 70px;
  width: 100%;
  padding-top: 23.33333px; }

.nav_item:hover {
  color: gold;
  font-weight: bold; }

li {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  height: 70px; }

li:hover {
  background-image: -webkit-linear-gradient(#3a6fd7, #0a1abc); }

.mission {
  margin-top: 30px;
  padding-top: 70px;
  padding-right: 30px;
  width: 100%;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("selection.jpg");
  opacity: 0.9;
  z-index: -1; }

.container {
  margin: auto;
  text-align: center;
  font-family: "B Yekan"; }

.intro {
  float: left;
  background-color: #88ffcd;
  opacity: 0.7;
  width: 30%;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 2em; }

h1 {
  font-family: 'B Morvarid', serif;
  font-size: 4em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: orangered; }

p {
  font-family: 'B Nazanin', sans-serif;
  font-size: 3em;
  line-height: 2em;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 80%; }

b {
  color: rebeccapurple; }

#leader {
  position: relative;
  top: 250px;
  left: 70px;
  font-family: "B Kamran", serif;
  color: #ff4943; }

#members {
  position: relative;
  top: 320px;
  right: 20px;
  font-family: "B Kamran", serif;
  color: #ffc434;
  direction: ltr; }

.pooya {
  position: absolute;
  text-align: center;
  padding-top: 80px;
  text-decoration: none;
  font-family: 'B Koodak', sans-serif;
  top: 370px;
  left: 740px;
  width: 100px;
  height: 100px;
  border-radius: 1em;
  overflow: hidden;
  top: 290px;
  left: 685px; }

.pooya:hover {
  background-image: url("pooya_mosaddegh.jpg");
  background-size: cover;
  color: transparent; }

.ali {
  position: absolute;
  text-align: center;
  padding-top: 80px;
  text-decoration: none;
  font-family: 'B Koodak', sans-serif;
  top: 370px;
  left: 840px;
  width: 100px;
  height: 100px;
  border-radius: 1em;
  overflow: hidden; }

.ali:hover {
  background-image: url("ali_ahmadi.jpg");
  background-size: cover;
  color: transparent; }

.mahdih {
  position: absolute;
  text-align: center;
  padding-top: 80px;
  text-decoration: none;
  font-family: 'B Koodak', sans-serif;
  top: 370px;
  left: 940px;
  width: 100px;
  height: 100px;
  border-radius: 1em;
  overflow: hidden; }

.mahdih:hover {
  background-image: url("mahdi_hasanzadeh.jpg");
  background-size: cover;
  color: transparent; }

.hamid {
  position: absolute;
  text-align: center;
  padding-top: 80px;
  text-decoration: none;
  font-family: 'B Koodak', sans-serif;
  top: 470px;
  left: 740px;
  width: 100px;
  height: 100px;
  border-radius: 1em;
  overflow: hidden; }

.hamid:hover {
  background-image: url("hamid_hashemi.jpg");
  background-size: cover;
  color: transparent; }

.mahdigh {
  position: absolute;
  text-align: center;
  padding-top: 80px;
  text-decoration: none;
  font-family: 'B Koodak', sans-serif;
  top: 470px;
  left: 840px;
  width: 100px;
  height: 100px;
  border-radius: 1em;
  overflow: hidden; }

.mahdigh:hover {
  background-image: url("mahdi_ghorbani.jpg");
  background-size: cover;
  color: transparent; }

.labbaf {
  position: absolute;
  text-align: center;
  padding-top: 80px;
  text-decoration: none;
  font-family: 'B Koodak', sans-serif;
  top: 470px;
  left: 940px;
  width: 100px;
  height: 100px;
  border-radius: 1em;
  overflow: hidden; }

.labbaf:hover {
  background-image: url("faezeh_labbaf.jpg");
  background-size: cover;
  color: transparent; }

.seyedparsa {
  position: absolute;
  text-align: center;
  padding-top: 80px;
  text-decoration: none;
  font-family: 'B Koodak', sans-serif;
  top: 570px;
  left: 740px;
  width: 100px;
  height: 100px;
  border-radius: 1em;
  overflow: hidden; }

.seyedparsa:hover {
  background-image: url("seyedparsa_mirtaheri.jpg");
  background-size: cover;
  color: transparent; }

.hossein {
  position: absolute;
  text-align: center;
  padding-top: 80px;
  text-decoration: none;
  font-family: 'B Koodak', sans-serif;
  top: 570px;
  left: 840px;
  width: 100px;
  height: 100px;
  border-radius: 1em;
  overflow: hidden; }

.hossein:hover {
  background-image: url("hossein_ahmadzadeh.jpg");
  background-size: cover;
  color: transparent; }

.reza {
  position: absolute;
  text-align: center;
  padding-top: 80px;
  text-decoration: none;
  font-family: 'B Koodak', sans-serif;
  top: 570px;
  left: 940px;
  width: 100px;
  height: 100px;
  border-radius: 1em;
  overflow: hidden; }

.reza:hover {
  background-image: url("reza_zeny.jpg");
  background-size: cover;
  color: transparent; }

/*# sourceMappingURL=style.css.map */
